@media (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
  /* common helper classes---------------------------------------------------------------------- */
  .container-common {
    max-width: 320px;
    margin: 0 auto;
  }
  /* BEM-blocks--------------------------------------------------------------------------------- */
  .title {
    font-size: 32px;
  }
  .btn-plus img {
    width: 50px;
  }
  .author {
    font-size: 14px;
  }
  .btn-more {
    position: relative;
    display: block;
    background: transparent;
    color: #ff0000;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: pointer;
    order: 1;
    z-index: 1;
  }
  .btn-more:nth-of-type(2) {
    display: none;
  }
  .btn-more:focus {
    /* p:nth-of-type(1) { */
    display: none;
    /* } */
  }
  .btn-more:focus p:nth-of-type(2) {
    display: block;
  }
  /* header------------------------------------------------------------------------------------- */
  .header .header__container {
    /* padding-left: 28px; */
    min-height: 40px;
  }
  .header .navigation {
    /* .navigation__link {
        white-space: nowrap;
    }

    .navigation__list {
        flex-wrap: wrap;
        row-gap: 10px;
    } */
  }
  .header .header__navigation {
    display: none;
  }
  .header .header__btn-burger {
    display: flex;
  }
  /* price-tag---------------------------------------------------------------------------------- */
  .price-tag {
    background: #000000;
  }
  .price-tag__container {
    position: relative;
    /* background: transparent; */
  }
  .price-tag__background-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 228px;
    background: #ffffff;
    width: 100%;
    height: 285px;
  }
  .price-tag__body {
    max-width: 350px;
    padding: 12px 0 0 0;
  }
  .price-tag__title {
    max-width: 230px;
    padding-bottom: 117px;
    margin-bottom: 0;
  }
  .price-tag__text {
    max-width: 320px;
    margin-top: 168px;
    margin-bottom: 0;
  }
  .price-tag__text_screen_desktop {
    display: none;
  }
  .price-tag__text_screen_mobile {
    display: block;
  }
  .price-tag__image-price {
    margin-top: -36px;
    margin-bottom: -107px;
    margin-left: 27px;
    max-width: 320px;
  }
  .price-tag__dash-top {
    top: -10px;
    left: -195px;
  }
  .price-tag__dash-top img {
    width: 15px;
    height: 25px;
  }
  .price-tag__dash-bot {
    display: none;
  }
  .price-tag__charisma {
    width: 500px;
    height: 500px;
    position: relative;
    margin-top: 24px;
    margin-left: -381px;
    z-index: 1;
  }
  .price-tag__image-charisma {
    max-width: 472px;
    transform: rotate(-20deg);
  }
  .price-tag__signature {
    display: none;
  }
  .price-tag__btn {
    top: 87px;
    right: 155px;
  }
  /* idea--------------------------------------------------------------------------------------- */
  .idea {
    margin-bottom: 135px;
  }
  .idea__title .idea__btn-arrow {
    align-self: start;
  }
  .idea__title img {
    width: 30px;
  }
  .idea__body-top {
    flex-direction: column;
  }
  .idea__body-top .idea__info-block-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 16px;
    row-gap: 20px;
    position: relative;
    margin-bottom: 54px;
    min-width: 320px;
  }
  .idea__body-top .idea__info-block-mobile .idea__info-background-mobile {
    position: absolute;
    top: -93px;
    left: -18px;
    z-index: -1;
  }
  .idea__body-top .idea__info-block-mobile h1 {
    margin-bottom: 4px;
    font-size: 24px;
  }
  .idea__body-top .idea__info-block-mobile .idea__info-unit {
    font-size: 12px;
    text-transform: lowercase;
  }
  .idea__body-top .idea__text-top-mobile {
    display: block;
    min-width: 320px;
    position: relative;
  }
  .idea__body-top .idea__text-top-mobile .idea__text-top-background-mobile {
    position: absolute;
    left: -1px;
    bottom: -9px;
    z-index: -1;
  }
  .idea__body-top .idea__text-top-desktop {
    display: none;
  }
  .idea__body-top .idea__bashaev {
    max-width: 320px;
  }
  .idea__body-top .idea__bashaev img {
    width: 470px;
    margin-left: -125px;
  }
  .idea__body-top .idea__btn {
    top: 448px;
    right: 0;
  }
  .idea__body-top .idea__info-block-desktop {
    display: none;
  }
  .idea__body-middle {
    max-width: 201.5px;
    font-size: 18px;
    margin-bottom: 44px;
  }
  .idea__body-middle .idea__wrap-text {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .idea__body-middle .idea__wrap-text:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .idea__body-middle .idea__text-middle-change {
    display: block;
    position: relative;
  }
  .idea__body-middle .idea__text-middle-change .idea__text-middle-background-mobile-change2 {
    display: block;
    position: absolute;
    top: 44px;
    right: 45px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle-change .idea__text-middle-background-mobile-change3 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 85px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle-change .idea__text-middle-background-mobile-change4 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 23px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle-change .idea__text-middle-background-mobile-change5 {
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    z-index: -1;
  }
  .idea__body-middle .idea__btn-more,
  .idea__body-middle .idea__btn-more-change {
    margin-top: 8px;
  }
  .idea__body-middle .idea__text-middle {
    display: none;
    position: relative;
  }
  .idea__body-middle .idea__text-middle:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-mobile2 {
    display: block;
    position: absolute;
    top: 344px;
    right: 12px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-mobile3 {
    display: block;
    position: absolute;
    left: -4px;
    bottom: 159px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-mobile4 {
    display: block;
    position: absolute;
    left: -13px;
    bottom: 21px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-mobile5 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop2,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop3,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop4,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop5,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet3,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet4,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet5 {
    display: none;
  }
  .idea__body-bot {
    font-size: 18px;
  }
  .idea__body-bot .idea__text-block {
    max-width: 200px;
  }
  .idea__body-bot .idea__text-block .idea__text-bot:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .idea__body-bot .idea__text-block .idea__text-bot:nth-of-type(2) {
    display: none;
  }
  .idea__body-bot .idea__text-block .idea__text-bot-change {
    display: block;
  }
  .idea__body-bot .idea__img-block {
    max-width: 120px;
  }
  .idea__body-bot .idea__img-block .idea__signature-desktop {
    display: none;
  }
  .idea__body-bot .idea__rozhin {
    max-width: 120px;
    max-height: 825px;
  }
  .idea__body-bot .idea__rozhin img {
    width: 650px;
    rotate: -17.58deg;
    margin-left: -346px;
    margin-top: 275px;
  }
  .idea__body-bot .idea__btn {
    top: 457px;
    right: 237px;
  }
  .idea__signature-desktop-tablet {
    display: block;
    padding-left: 0;
    margin-left: -205px;
    font-family: "Helvetica World";
    font-size: 14px;
    font-style: italic;
  }
  /* problems----------------------------------------------------------------------------------- */
  .problems__container .problems__background-wrap {
    top: 0;
    left: -45px;
  }
  .problems__title {
    margin-bottom: 0;
  }
  .problems__body-top {
    flex-direction: column;
  }
  .problems__body-top .problems__image-block {
    order: 1;
    max-width: 320px;
  }
  .problems__body-top .problems__signature {
    position: absolute;
    top: 285px;
  }
  .problems__body-top .problems__btn {
    top: 130px;
    right: 245px;
    z-index: 55;
  }
  .problems__body-top .problems__human-code {
    max-width: 320px;
  }
  .problems__body-top .problems__human-code img {
    width: 392px;
    transform: scaleX(-1);
    margin-top: -105px;
    margin-left: 11px;
  }
  .problems__body-top .problems__text-block {
    max-width: 320px;
  }
  .problems__body-top .problems__text-body {
    margin-top: 0;
    padding: 35px 57px 15px 7px;
    gap: 0;
    background-image: url(../src/images/png/problems-background-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
  }
  .problems__body-top .problems__text-top {
    max-width: 212px;
    min-height: 177px;
  }
}

/*# sourceMappingURL=mobile.css.map */
