/* reset------------------------------------------------------------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: "Helvetica World";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

/* ------------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
  background: #ffffff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* common helper classes---------------------------------------------------------------------- */
.container-common {
  max-width: 1160px;
  margin: 0 auto;
}

/* BEM-blocks--------------------------------------------------------------------------------- */
.title {
  font-size: 44px;
  text-transform: uppercase;
}

.white-text {
  color: #ffffff;
}

.btn-plus {
  background: transparent;
}
.btn-plus img:nth-of-type(2) {
  display: none;
}
.btn-plus:hover img:nth-of-type(1) {
  display: none;
}
.btn-plus:hover img:nth-of-type(2) {
  display: block;
}

.btn-arrow {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.author {
  font-size: 18px;
  font-family: "Helvetica World";
  font-style: italic;
}

.btn-more {
  display: none;
}

/* header------------------------------------------------------------------------------------- */
.header .header__container {
  display: flex;
  align-items: center;
  min-height: 100px;
  /* padding: 0 60px;
  box-sizing: content-box; */
  color: #ff0000;
}
.header .header__navigation {
  position: relative;
  z-index: 5;
}
.header .navigation .navigation__list {
  display: flex;
  column-gap: 100px;
}
.header .navigation .navigation__link {
  color: inherit;
}
.header .header__btn-burger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: transparent;
  height: 30px;
  padding: 8.5px 5.5px;
  cursor: pointer;
  display: none;
}
.header .header__btn-burger span {
  display: block;
  width: 16px;
  border: solid 1.5px #ff0000;
  border-radius: 3px;
}

/* main--------------------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}

.page__price-tag {
  margin-bottom: 203px;
}

.page__problems {
  margin-bottom: 200px;
}

/* price-tag---------------------------------------------------------------------------------- */
.price-tag {
  background: #000000;
}

.price-tag__container {
  position: relative;
  display: flex;
  /* .price-tag__image-price {
      max-width: 390px;
      width: 100%;
      object-fit: cover;
  } */
}
.price-tag__container .price-tag__background {
  position: absolute;
  top: 0;
  left: 943px;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
.price-tag__container .price-tag__text-block {
  max-width: 460px;
  padding: 40px 0 7px 0;
  color: #ffffff;
}
.price-tag__container .price-tag__title {
  margin-bottom: 36px;
}
.price-tag__container .price-tag__text {
  margin-bottom: 12px;
}
.price-tag__container .price-tag__text_screen_mobile {
  display: none;
}
.price-tag__container .price-tag__image-block {
  position: relative;
  z-index: 1;
}
.price-tag__container .price-tag__dash-top {
  position: absolute;
  top: -25px;
  left: 111px;
}
.price-tag__container .price-tag__dash-bot {
  position: absolute;
  left: 111px;
  bottom: -43px;
}
.price-tag__container .price-tag__charisma {
  width: 600px;
  height: 775px;
}
.price-tag__container .price-tag__charisma img {
  margin-top: -213px;
  margin-left: -110px;
}
.price-tag__container .price-tag__charisma img:nth-of-type(2) {
  display: none;
}
.price-tag__container .price-tag__signature {
  position: absolute;
  bottom: 45px;
  right: 175px;
  color: #ffffff;
  text-transform: uppercase;
  font-style: italic;
}
.price-tag__container .price-tag__btn {
  position: absolute;
  top: 0;
  right: -100px;
  z-index: 55;
}
.price-tag__container .price-tag__btn:hover ~ .price-tag__charisma img:nth-of-type(1) {
  display: none;
}
.price-tag__container .price-tag__btn:hover ~ .price-tag__charisma img:nth-of-type(2) {
  display: block;
}

/* idea--------------------------------------------------------------------------------------- */
.idea__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea__title {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.idea__body-top {
  display: flex;
}
.idea__body-top .idea__text-block {
  max-width: 500px;
  position: relative;
}
.idea__body-top .idea__text-top-desktop {
  margin-bottom: 19px;
  font-style: italic;
  position: relative;
}
.idea__body-top .idea__text-top-desktop .idea__text-top-background-desktop {
  position: absolute;
  left: -8px;
  bottom: -8px;
  z-index: -1;
}
.idea__body-top .idea__text-top-desktop .idea__text-top-background-tablet {
  display: none;
}
.idea__body-top .idea__text-top-mobile {
  display: none;
}
.idea__body-top .idea__image-block {
  position: relative;
}
.idea__body-top .idea__image-block .idea__bashaev {
  width: 500px;
  height: 1140px;
}
.idea__body-top .idea__image-block .idea__bashaev img {
  margin-left: -265px;
}
.idea__body-top .idea__image-block .idea__bashaev img:nth-of-type(2) {
  display: none;
}
.idea__body-top .idea__image-block .idea__btn {
  position: absolute;
  top: 870px;
  right: 0;
  z-index: 55;
}
.idea__body-top .idea__image-block .idea__btn:hover ~ .idea__bashaev img:nth-of-type(1) {
  display: none;
}
.idea__body-top .idea__image-block .idea__btn:hover ~ .idea__bashaev img:nth-of-type(2) {
  display: block;
}
.idea__body-top .idea__info-block-mobile {
  display: none;
}
.idea__body-top .idea__info-block-desktop {
  padding: 96px 0 0 200px;
  position: relative;
}
.idea__body-top .idea__info-block-desktop .idea__info-background-desktop {
  position: absolute;
  top: -85px;
  left: 38px;
  z-index: -1;
}
.idea__body-top .idea__info-block-desktop .idea__info-background-tablet {
  display: none;
}
.idea__body-top .idea__info-block-desktop .idea__info-body {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 250px;
  margin-bottom: 334px;
}
.idea__body-top .idea__info-block-desktop .idea__info-unit {
  font-size: 12px;
  text-transform: lowercase;
}
.idea__body-top .idea__signature {
  font-style: italic;
}

.idea__body-middle {
  max-width: 560px;
  font-size: 20px;
  font-family: Albina;
  margin-bottom: 170px;
}
.idea__body-middle .idea__text-middle-change {
  display: none;
}
.idea__body-middle .idea__wrap-text:not(:last-of-type) {
  margin-bottom: 36px;
}
.idea__body-middle .idea__text-middle {
  position: relative;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop2 {
  position: absolute;
  top: 124px;
  right: -38px;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop3 {
  position: absolute;
  top: 147px;
  left: -15px;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop4 {
  position: absolute;
  left: -14px;
  bottom: 0;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop5 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-tablet3,
.idea__body-middle .idea__text-middle .idea__text-middle-background-tablet4,
.idea__body-middle .idea__text-middle .idea__text-middle-background-tablet5,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile2,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile3,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile4,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile5 {
  display: none;
}

.idea__body-bot {
  display: flex;
  font-size: 20px;
  font-family: Albina;
}
.idea__body-bot .idea__text-block {
  max-width: 560px;
  display: flex;
  flex-direction: column;
}
.idea__body-bot .idea__text-block .idea__text-bot:not(:last-of-type) {
  margin-bottom: 36px;
}
.idea__body-bot .idea__text-block .idea__text-bot-change {
  display: none;
}
.idea__body-bot .idea__img-block {
  position: relative;
  height: 940px;
}
.idea__body-bot .idea__img-block .idea__signature-desktop {
  display: block;
  padding-left: 140px;
  font-family: "Helvetica World";
  font-size: 18px;
  font-style: italic;
}
.idea__body-bot .idea__rozhin {
  width: 600px;
  height: 940px;
}
.idea__body-bot .idea__rozhin img {
  margin-left: -298px;
  margin-top: -349px;
}
.idea__body-bot .idea__rozhin img:nth-of-type(2) {
  display: none;
}
.idea__body-bot .idea__btn {
  position: absolute;
  top: 450px;
  right: 715px;
  z-index: 55;
}
.idea__body-bot .idea__btn:hover ~ .idea__rozhin img:nth-of-type(1) {
  display: none;
}
.idea__body-bot .idea__btn:hover ~ .idea__rozhin img:nth-of-type(2) {
  display: block;
}

.idea__signature-desktop-tablet {
  display: none;
}

/* problems----------------------------------------------------------------------------------- */
.problems__container {
  position: relative;
}
.problems__container .problems__background-wrap {
  position: absolute;
  top: 60px;
  left: -60px;
  z-index: -1;
}
.problems__container .problems__background-img-tablet,
.problems__container .problems__background-img-mobile {
  display: none;
}
.problems__container .problems__background-color {
  position: absolute;
  top: 0;
  left: -4975px;
  width: 5000px;
  height: 2016px;
  background-color: #000000;
}

.problems__title {
  margin-bottom: 24px;
}
.problems__title .problems__btn-arrow {
  position: relative;
}
.problems__title .problems__btn-arrow img {
  position: absolute;
}

.problems__body-top {
  display: flex;
  margin-bottom: 100px;
}
.problems__body-top .problems__image-block {
  max-width: 649px;
  position: relative;
}
.problems__body-top .problems__signature {
  font-style: italic;
}
.problems__body-top .problems__btn {
  position: absolute;
  top: 89px;
  right: 505px;
  z-index: 55;
}
.problems__body-top .problems__btn:hover ~ .problems__human-code img:nth-of-type(1) {
  display: none;
}
.problems__body-top .problems__btn:hover ~ .problems__human-code img:nth-of-type(2) {
  display: block;
}
.problems__body-top .problems__human-code {
  max-width: 649px;
}
.problems__body-top .problems__human-code img {
  margin-top: 35px;
  margin-left: -58px;
}
.problems__body-top .problems__human-code img:nth-of-type(2) {
  display: none;
}
.problems__body-top .problems__text-block {
  max-width: 382px;
}
.problems__body-top .problems__text-body {
  padding: 97px 52px 92px 58px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url(../src/images/png/problems-background.png);
  background-repeat: no-repeat;
  background-position: 0 -33px;
}
.problems__body-top .problems__text-top {
  min-height: 226px;
}
.problems__body-top .problems__text-top:first-child {
  display: flex;
  align-items: center;
}

.problems__body-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.problems__body-middle .problems__text-middle {
  max-width: 560px;
  font-family: "Albina";
  font-size: 20px;
}
.problems__body-middle .problems__image-block {
  max-width: 560px;
  min-height: 379px;
  position: relative;
}
.problems__body-middle .problems__signature {
  position: absolute;
  font-style: italic;
  top: 240px;
  left: 400px;
}
.problems__body-middle .problems__btn {
  position: absolute;
  top: 65px;
  right: 140px;
  z-index: 55;
}
.problems__body-middle .problems__btn:hover ~ .problems__my-invest-art img:nth-of-type(1) {
  display: none;
}
.problems__body-middle .problems__btn:hover ~ .problems__my-invest-art img:nth-of-type(2) {
  display: block;
}
.problems__body-middle .problems__my-invest-art {
  max-height: 379px;
}
.problems__body-middle .problems__my-invest-art img {
  margin-top: -315px;
  margin-left: 315px;
}
.problems__body-middle .problems__my-invest-art img:nth-of-type(2) {
  display: none;
}

.problems__body-bot {
  display: flex;
}
.problems__body-bot .problems__text-block {
  max-width: 560px;
  font-family: "Albina";
  font-size: 20px;
}
.problems__body-bot .problems__text-block .problems__text-background-mobile2,
.problems__body-bot .problems__text-block .problems__text-background-mobile3,
.problems__body-bot .problems__text-block .problems__text-background-mobile-change2,
.problems__body-bot .problems__text-block .problems__text-background-mobile-change3 {
  display: none;
}
.problems__body-bot .problems__text-block .problems__background-color {
  display: none;
}
.problems__body-bot .problems__text-bot-change {
  display: none;
}
.problems__body-bot .problems__image-block {
  position: relative;
  max-width: 600px;
}
.problems__body-bot .problems__btn {
  position: absolute;
  top: -205px;
  right: 370px;
  z-index: 55;
}
.problems__body-bot .problems__btn:hover ~ .problems__bashaev-small img:nth-of-type(1) {
  display: none;
}
.problems__body-bot .problems__btn:hover ~ .problems__bashaev-small img:nth-of-type(2) {
  display: block;
}
.problems__body-bot .problems__bashaev-small img {
  margin-top: -385px;
  margin-left: -895px;
}
.problems__body-bot .problems__bashaev-small img:nth-of-type(2) {
  display: none;
}

/* exit--------------------------------------------------------------------------------------- */
/* .exit__container {
    position: relative;
} */
.exit__body-top {
  display: flex;
  column-gap: 40px;
}
.exit__body-top .exit__title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.exit__body-top .exit__text-top {
  max-width: 560px;
  font-style: italic;
}

.exit__body-middle {
  display: flex;
  margin-top: -30px;
  margin-bottom: 51px;
}
.exit__body-middle .exit__image-block {
  padding: 65px 46px 132px 60px;
}
.exit__body-middle .exit__info-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: #000000;
  color: #ffffff;
  padding: 20px 29px;
  max-width: 618px;
}
.exit__body-middle .exit__info-block .exit__text-mobile {
  display: none;
}
.exit__body-middle .exit__info-block .exit__info-title {
  display: block;
  margin-bottom: 12px;
}

.exit__body-bot {
  display: flex;
  column-gap: 36px;
}
.exit__body-bot .exit__image-block {
  position: relative;
  max-width: 264px;
  max-height: 464px;
}
.exit__body-bot .exit__image-block .exit__signature {
  position: absolute;
  top: 195px;
  font-style: italic;
}
.exit__body-bot .exit__btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 55;
}
.exit__body-bot .exit__btn:hover ~ .exit__di img:nth-of-type(1) {
  display: none;
}
.exit__body-bot .exit__btn:hover ~ .exit__di img:nth-of-type(2) {
  display: block;
}
.exit__body-bot .exit__di img {
  margin-left: -350px;
}
.exit__body-bot .exit__di img:nth-of-type(2) {
  display: none;
}
.exit__body-bot .exit__text-block {
  padding-top: 49px;
  max-width: 560px;
  font-family: "Albina";
  font-size: 20px;
}
.exit__body-bot .exit__text-block .exit__text-bot-change {
  display: none;
}

.exit__body-below {
  display: flex;
}
.exit__body-below .exit__text-block {
  font-family: "Albina";
  font-size: 20px;
  max-width: 560px;
}
.exit__body-below .exit__image-block {
  position: relative;
  max-width: 600px;
}
.exit__body-below .exit__image-block .exit__signature {
  position: absolute;
  top: 400px;
  margin-left: 150px;
  font-style: italic;
}
.exit__body-below .exit__btn {
  position: absolute;
  top: 125px;
  right: 720px;
  z-index: 55;
}
.exit__body-below .exit__btn:hover ~ .exit__human-code img:nth-of-type(1) {
  display: none;
}
.exit__body-below .exit__btn:hover ~ .exit__human-code img:nth-of-type(2) {
  display: block;
}
.exit__body-below .exit__human-code img {
  margin-top: -235px;
  margin-left: -165px;
}
.exit__body-below .exit__human-code img:nth-of-type(2) {
  display: none;
}

.exit__decor-footer {
  position: relative;
  max-height: 86px;
  z-index: 1;
  margin-left: 41px;
}

/* footer------------------------------------------------------------------------------------- */
.footer {
  border-top: solid 3px #000000;
  background-color: #ff0000;
}

.footer__body-top {
  display: flex;
  padding-top: 115px;
}
.footer__body-top .footer__image-block-hand {
  position: relative;
  min-width: 610px;
}
.footer__body-top .footer__image-block-hand .footer__image-hand {
  position: absolute;
  top: -410px;
  left: -65px;
  z-index: 2;
}
.footer__body-top .footer__join-mobile {
  display: none;
}
.footer__body-top .footer__text-block {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.footer__body-top .footer__text-block .footer__text {
  position: relative;
  font-size: 20px;
}
.footer__body-top .footer__text-block .footer__text .white-text {
  position: relative;
  z-index: 1;
}
.footer__body-top .footer__text-block .footer__text .footer__text-background {
  position: absolute;
  top: -2px;
  left: -3px;
}
.footer__body-top .footer__text-block .footer__image-block-charisma {
  position: relative;
  max-height: 565px;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__signature {
  position: absolute;
  top: 240px;
  left: 83px;
  text-transform: uppercase;
  font-style: italic;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__btn {
  position: absolute;
  top: 70px;
  right: 285px;
  z-index: 55;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__btn:hover ~ .footer__charisma img:nth-of-type(1) {
  display: none;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__btn:hover ~ .footer__charisma img:nth-of-type(2) {
  display: block;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__charisma img {
  margin-top: -250px;
  margin-left: 163px;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__charisma img:nth-of-type(2) {
  display: none;
}

.footer__join-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-bottom: 143px;
}
.footer__join-desktop .footer__btn-join {
  padding: 35px;
  font-size: 55px;
  line-height: 32px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
.footer__join-desktop .footer__text-join {
  text-transform: uppercase;
  font-size: 44px;
}
.footer__join-desktop .footer__btn-join:active {
  background: #ff0000;
}

.footer__partners {
  margin-bottom: 82px;
}
.footer__partners .footer__daub {
  display: flex;
  align-items: center;
  column-gap: 54px;
  margin-bottom: 36px;
}
.footer__partners .footer__logos {
  display: flex;
  column-gap: 91px;
}

.titers {
  background: #000000;
}

.titers__authors {
  min-height: 445px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titers__authors .titers__text {
  max-width: 465px;
  color: #ffffff;
  font-size: 14px;
  padding: 156px 0 186px 0;
  text-align: center;
}
.titers__authors .titers__social-network {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*# sourceMappingURL=styles.css.map */
