/* reset------------------------------------------------------------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: "Helvetica World";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

/* ------------------------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
  background: #ffffff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* common helper classes---------------------------------------------------------------------- */
.container-common {
  max-width: 1160px;
  margin: 0 auto;
}

.img-tablet-common,
.img-mobile-common {
  display: none;
}

.img-desktop-common img:nth-of-type(2),
.img-tablet-common img:nth-of-type(2),
.img-mobile-common img:nth-of-type(2) {
  display: none;
}

/* BEM-blocks--------------------------------------------------------------------------------- */
.title {
  font-size: 44px;
  text-transform: uppercase;
}

.white-text {
  color: #ffffff;
}

.text-background-black-desktop {
  background-color: #000000;
}

.break-mobile {
  display: none;
}

.break-tablet {
  display: none;
}

.btn-plus {
  background: transparent;
}
.btn-plus svg ellipse {
  fill: #000000;
}
.btn-plus svg:nth-of-type(2) {
  display: none;
}

@media (min-width: 1281px) {
  .btn-plus:hover svg:nth-of-type(1) {
    display: none;
  }
  .btn-plus:hover svg:nth-of-type(2) {
    display: block;
  }
  .btn-plus:hover ~ .img-desktop-common img:nth-of-type(1) {
    display: none;
  }
  .btn-plus:hover ~ .img-desktop-common img:nth-of-type(2) {
    display: block;
  }
}
.btn-arrow {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.author,
.signature {
  font-size: 18px;
  font-family: "Helvetica World";
  font-style: italic;
}

.btn-more {
  display: none;
}

/* header------------------------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
}
.header .header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  min-height: 100px;
  color: #ffffff;
  max-width: 100%;
  padding-right: 60px;
}
.header .header__navigation {
  position: relative;
  z-index: 5;
}
.header .navigation {
  max-width: 688px;
}
.header .navigation .navigation__list {
  display: flex;
  column-gap: 90px;
}
.header .navigation .navigation__item:nth-child(1) {
  max-width: 188px;
}
.header .navigation .navigation__item:nth-child(2) {
  max-width: 196px;
}
.header .navigation .navigation__link {
  color: inherit;
}

/* main--------------------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}

.page__price-tag {
  margin-bottom: 118px;
}

.page__problems {
  margin-bottom: 200px;
}

/* price-tag---------------------------------------------------------------------------------- */
.price-tag {
  position: relative;
}
.price-tag .price-tag__background {
  position: absolute;
  background-image: url(../images/png/background_price-tag.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.price-tag__container {
  position: relative;
  display: flex;
  column-gap: 85px;
  padding-top: 48%;
}
.price-tag__container .price-tag__background {
  position: absolute;
  top: 0;
  left: 943px;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
.price-tag__container .price-tag__text-block {
  max-width: 460px;
}
.price-tag__container .price-tag__title {
  margin-bottom: 36px;
}
.price-tag__container .price-tag__text_screen_mobile {
  display: none;
}

.price-mobile {
  display: none;
}

/* idea--------------------------------------------------------------------------------------- */
.idea__container {
  display: flex;
  flex-direction: column;
}

.idea__title {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.idea__body-top {
  display: flex;
}
.idea__body-top .idea__text-block {
  max-width: 500px;
  position: relative;
}
.idea__body-top .idea__text-top-desktop {
  margin-bottom: 19px;
  font-style: italic;
  position: relative;
}
.idea__body-top .idea__text-top-desktop .idea__text-top-background-desktop {
  position: absolute;
  left: -8px;
  bottom: -8px;
  z-index: -1;
}
.idea__body-top .idea__text-top-desktop .idea__text-top-background-tablet {
  display: none;
}
.idea__body-top .idea__text-top-mobile {
  display: none;
}
.idea__body-top .idea__image-block {
  position: relative;
  width: 500px;
  height: 1140px;
}
.idea__body-top .idea__image-block .idea__btn {
  position: absolute;
  top: 870px;
  right: 0;
  z-index: 55;
  /* &:hover ~ .idea__bashaev {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}
.idea__body-top .idea__bashaev {
  width: 500px;
  height: 1140px;
}
.idea__body-top .idea__bashaev img {
  margin-left: -265px;
}
.idea__body-top .idea__info-block-mobile {
  display: none;
}
.idea__body-top .idea__info-block-desktop {
  padding: 96px 0 0 200px;
  position: relative;
}
.idea__body-top .idea__info-block-desktop .idea__info-background-desktop {
  position: absolute;
  top: -85px;
  left: 38px;
  z-index: -1;
}
.idea__body-top .idea__info-block-desktop .idea__info-background-tablet {
  display: none;
}
.idea__body-top .idea__info-block-desktop .idea__info-body {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 250px;
  margin-bottom: 334px;
}
.idea__body-top .idea__info-block-desktop .idea__info-unit {
  font-size: 12px;
  text-transform: lowercase;
}
.idea__body-top .idea__info-block-desktop .idea__info-quelle-mobile {
  display: none;
}
.idea__body-top .idea__info-block-desktop .idea__info-quelle {
  margin-top: 16px;
  font-size: 16px;
  text-align: right;
}

.idea__body-middle {
  max-width: 560px;
  font-size: 20px;
  font-family: "Albina";
  margin-bottom: 170px;
  align-self: center;
}
.idea__body-middle .idea__text-middle-change {
  display: none;
}
.idea__body-middle .idea__wrap-text:not(:last-of-type) {
  margin-bottom: 36px;
}
.idea__body-middle .idea__text-middle {
  position: relative;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop2 {
  position: absolute;
  top: 124px;
  right: -38px;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop3 {
  position: absolute;
  top: 147px;
  left: -15px;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop4 {
  position: absolute;
  left: -14px;
  bottom: 0;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-desktop5 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.idea__body-middle .idea__text-middle .idea__text-middle-background-tablet3,
.idea__body-middle .idea__text-middle .idea__text-middle-background-tablet4,
.idea__body-middle .idea__text-middle .idea__text-middle-background-tablet5,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile2,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile3,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile4,
.idea__body-middle .idea__text-middle .idea__text-middle-background-mobile5 {
  display: none;
}

.idea__body-bot {
  display: flex;
  font-size: 20px;
  font-family: "Albina";
}
.idea__body-bot .idea__text-block {
  max-width: 560px;
  display: flex;
  flex-direction: column;
}
.idea__body-bot .idea__text-block .idea__text-bot:not(:last-of-type) {
  margin-bottom: 36px;
}
.idea__body-bot .idea__text-block .idea__text-bot-change {
  display: none;
}
.idea__body-bot .idea__img-block {
  position: relative;
  width: 600px;
  height: 940px;
}
.idea__body-bot .idea__img-block .idea__signature-desktop {
  display: block;
  padding-left: 140px;
}
.idea__body-bot .idea__rozhin {
  width: 600px;
  height: 940px;
}
.idea__body-bot .idea__rozhin img {
  margin-left: -298px;
  margin-top: -310px;
}
.idea__body-bot .idea__btn {
  position: absolute;
  top: 500px;
  right: 715px;
  z-index: 55;
  /* &:hover ~ .idea__rozhin {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}

.idea__signature-desktop-tablet {
  display: none;
}

/* problems----------------------------------------------------------------------------------- */
.problems__container {
  position: relative;
}
.problems__container .problems__background-wrap {
  position: absolute;
  top: 60px;
  left: -60px;
  z-index: -1;
}
.problems__container .problems__background-img-tablet,
.problems__container .problems__background-img-mobile {
  display: none;
}
.problems__container .problems__background-color {
  position: absolute;
  top: 0;
  left: -4975px;
  width: 5000px;
  height: 2016px;
  background-color: #000000;
}

.problems__title {
  margin-bottom: 24px;
}
.problems__title .problems__btn-arrow {
  position: relative;
}
.problems__title .problems__btn-arrow img {
  position: absolute;
}

.problems__body-top {
  display: flex;
  margin-bottom: 100px;
}
.problems__body-top .problems__image-block {
  width: 649px;
  height: 965px;
  position: relative;
}
.problems__body-top .problems__btn {
  position: absolute;
  top: 89px;
  right: 505px;
  z-index: 55;
  /* &:hover ~ .problems__human-code {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}
.problems__body-top .problems__human-code {
  width: 649px;
  height: 965px;
}
.problems__body-top .problems__human-code img {
  margin-top: 35px;
  margin-left: -58px;
}
.problems__body-top .problems__text-block {
  max-width: 382px;
}
.problems__body-top .problems__text-body {
  padding: 97px 52px 92px 58px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url(../images/png/problems-background.png);
  background-repeat: no-repeat;
  background-position: 0 -33px;
}
.problems__body-top .problems__text-top {
  min-height: 226px;
}
.problems__body-top .problems__text-top:first-child {
  display: flex;
  align-items: center;
}

.problems__body-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.problems__body-middle .problems__text-middle {
  max-width: 560px;
  font-family: "Albina";
  font-size: 20px;
}
.problems__body-middle .problems__image-block {
  width: 560px;
  height: 397px;
  position: relative;
}
.problems__body-middle .problems__signature {
  position: absolute;
  top: 240px;
  left: 400px;
}
.problems__body-middle .problems__btn {
  position: absolute;
  top: 65px;
  right: 140px;
  z-index: 55;
  /* &:hover ~ .problems__my-invest-art {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}
.problems__body-middle .problems__my-invest-art {
  width: 560px;
  height: 397px;
}
.problems__body-middle .problems__my-invest-art img {
  margin-top: -315px;
  margin-left: 315px;
}

.problems__body-bot {
  display: flex;
}
.problems__body-bot .problems__text-block {
  max-width: 560px;
  font-family: "Albina";
  font-size: 20px;
}
.problems__body-bot .problems__text-block .problems__text-background-mobile2,
.problems__body-bot .problems__text-block .problems__text-background-mobile3,
.problems__body-bot .problems__text-block .problems__text-background-mobile-change2,
.problems__body-bot .problems__text-block .problems__text-background-mobile-change3 {
  display: none;
}
.problems__body-bot .problems__text-block .problems__background-color {
  display: none;
}
.problems__body-bot .problems__text-bot-change {
  display: none;
}
.problems__body-bot .problems__image-block {
  position: relative;
  width: 600px;
  height: 384px;
}
.problems__body-bot .problems__btn {
  position: absolute;
  top: -205px;
  right: 970px;
  z-index: 55;
  /* &:hover ~ .problems__bashaev-small {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}
.problems__body-bot .problems__bashaev-small {
  width: 600px;
  height: 384px;
}
.problems__body-bot .problems__bashaev-small img {
  margin-top: -385px;
  margin-left: -895px;
}

/* exit--------------------------------------------------------------------------------------- */
.exit__body-top {
  display: flex;
  column-gap: 40px;
}
.exit__body-top .exit__title {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.exit__body-top .exit__text-top {
  max-width: 560px;
  font-style: italic;
}

.exit__body-middle {
  display: flex;
  margin-top: -30px;
  margin-bottom: 51px;
}
.exit__body-middle .exit__image-block {
  padding: 65px 46px 132px 60px;
}
.exit__body-middle .exit__info-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: #000000;
  color: #ffffff;
  padding: 20px 29px;
  max-width: 618px;
}
.exit__body-middle .exit__info-block .exit__text-mobile {
  display: none;
}
.exit__body-middle .exit__info-block .exit__info-title {
  display: block;
  margin-bottom: 12px;
}

.exit__body-bot {
  display: flex;
  column-gap: 36px;
}
.exit__body-bot .exit__image-block {
  position: relative;
  width: 264px;
  height: 464px;
}
.exit__body-bot .exit__image-block .exit__signature {
  position: absolute;
  top: 195px;
}
.exit__body-bot .exit__btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 55;
  /* &:hover ~ .exit__di {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}
.exit__body-bot .exit__di {
  width: 264px;
  height: 464px;
}
.exit__body-bot .exit__di img {
  margin-left: -350px;
}
.exit__body-bot .exit__text-block {
  padding-top: 49px;
  max-width: 560px;
  font-family: "Albina";
  font-size: 20px;
}
.exit__body-bot .exit__text-block .exit__text-bot-change {
  display: none;
}

.exit__body-below {
  display: flex;
}
.exit__body-below .exit__text-block {
  font-family: "Albina";
  font-size: 20px;
  max-width: 560px;
}
.exit__body-below .exit__image-block {
  position: relative;
  width: 600px;
  height: 582px;
}
.exit__body-below .exit__image-block .exit__signature {
  position: absolute;
  top: 400px;
  margin-left: 150px;
}
.exit__body-below .exit__btn {
  position: absolute;
  top: 125px;
  right: 720px;
  z-index: 55;
  /* &:hover ~ .exit__human-code {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}
.exit__body-below .exit__human-code {
  width: 600px;
  height: 582px;
}
.exit__body-below .exit__human-code img {
  margin-top: -235px;
  margin-left: -165px;
}

.exit__decor-footer {
  position: relative;
  max-height: 86px;
  z-index: 1;
  margin-left: 70px;
  margin-bottom: -1px;
}

/* footer------------------------------------------------------------------------------------- */
.footer {
  border-top: solid 3px #000000;
  background-color: #ff0000;
}

.footer__body-top {
  display: flex;
  padding-top: 115px;
}
.footer__body-top .footer__image-block-hand {
  position: relative;
  min-width: 610px;
}
.footer__body-top .footer__image-block-hand .footer__image-hand {
  position: absolute;
  top: -410px;
  left: -85px;
  z-index: 2;
}
.footer__body-top .footer__join-mobile {
  display: none;
}
.footer__body-top .footer__text-block {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}
.footer__body-top .footer__text-block .footer__text {
  position: relative;
  font-size: 20px;
}
.footer__body-top .footer__text-block .footer__text .white-text {
  position: relative;
  z-index: 1;
}
.footer__body-top .footer__text-block .footer__text .footer__text-background {
  position: absolute;
  top: -2px;
  left: -3px;
}
.footer__body-top .footer__text-block .footer__image-block-charisma {
  position: relative;
  width: 550px;
  height: 565px;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__signature {
  position: absolute;
  top: 240px;
  left: 83px;
  text-transform: uppercase;
}
.footer__body-top .footer__text-block .footer__image-block-charisma .footer__btn {
  position: absolute;
  top: 70px;
  right: 285px;
  z-index: 55;
  /* &:hover ~ .footer__charisma {

      img:nth-of-type(1) {
          display: none;
      }

      img:nth-of-type(2) {
          display: block;
      }
  } */
}
.footer__body-top .footer__charisma {
  width: 550px;
  height: 565px;
}
.footer__body-top .footer__charisma img {
  margin-top: -250px;
  margin-left: 163px;
}

.footer__join-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  margin-bottom: 143px;
  /* .footer__btn-join:active {
      background: $base-red;   
  } */
}
.footer__join-desktop .footer__btn-join {
  background: transparent;
  cursor: pointer;
}
.footer__join-desktop .footer__btn-join svg ellipse {
  fill: #ffffff;
}
.footer__join-desktop .footer__btn-join svg:active ellipse {
  fill: none;
}
.footer__join-desktop .footer__text-join {
  text-transform: uppercase;
  font-size: 28px;
}

.footer__partners {
  margin-bottom: 82px;
}
.footer__partners .footer__daub {
  display: flex;
  align-items: center;
  column-gap: 54px;
  margin-bottom: 36px;
}
.footer__partners .footer__daub .footer__decor {
  margin-left: 40px;
}
.footer__partners .footer__logos {
  display: flex;
  column-gap: 91px;
}

.titers {
  background: #000000;
}

.titers__authors {
  min-height: 445px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titers__authors .titers__text {
  max-width: 465px;
  color: #ffffff;
  font-size: 14px;
  padding: 156px 0 186px 0;
  text-align: center;
}
.titers__authors .titers__social-network {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*# sourceMappingURL=styles.css.map */
