@media (min-width: 768px) and (max-width: 1279px) {
  html,
  body {
    font-size: 16px;
  }
  /* common helper classes---------------------------------------------------------------------- */
  .container-common {
    max-width: 700px;
    margin: 0 auto;
  }
  .img-desktop-common {
    display: none;
  }
  .img-tablet-common {
    display: block;
  }
  /* BEM-blocks--------------------------------------------------------------------------------- */
  .title {
    font-size: 36px;
  }
  .btn-plus {
    cursor: pointer;
  }
  .btn-plus svg {
    width: 80px;
    height: 80px;
  }
  .author,
  .signature {
    font-size: 16px;
  }
  /* header------------------------------------------------------------------------------------- */
  .header .navigation {
    max-width: 557px;
  }
  .header .navigation .navigation__list {
    column-gap: 50px;
  }
  .header .navigation .navigation__item:nth-child(1) {
    max-width: 157px;
  }
  .header .navigation .navigation__item:nth-child(2) {
    max-width: 161px;
  }
  /* main--------------------------------------------------------------------------------------- */
  .page__price-tag {
    margin-bottom: 107px;
  }
  .page__problems {
    margin-bottom: 160px;
  }
  /* price-tag---------------------------------------------------------------------------------- */
  .price-tag .price-tag__background {
    background-position: -300px;
  }
  .price-tag__container {
    padding-top: 56%;
    gap: 0;
  }
  .price-tag__container .price-tag__background {
    left: 608px;
  }
  .price-tag__container .price-tag__text-block {
    max-width: 340px;
    padding: 40px 0 0 0;
  }
  .price-tag__container .price-tag__text {
    max-width: 335px;
  }
  .price-tag__container .price-tag__text_screen_mobile {
    display: none;
  }
  .price-tag__container .price-tag__image-price {
    max-width: 307px;
    margin-top: 185px;
    margin-left: -61px;
  }
  /* idea--------------------------------------------------------------------------------------- */
  .idea {
    margin-bottom: 107px;
  }
  .idea__title {
    margin-bottom: 28px;
  }
  .idea__title .idea__btn-arrow {
    align-self: start;
  }
  .idea__title img {
    width: 53px;
  }
  .idea__body-top .idea__text-block {
    max-width: 340px;
  }
  .idea__body-top .idea__text-top-desktop {
    margin-bottom: 9px;
  }
  .idea__body-top .idea__text-top-desktop .idea__text-top-background-desktop {
    display: none;
  }
  .idea__body-top .idea__text-top-desktop .idea__text-top-background-tablet {
    display: block;
    position: absolute;
    left: -7px;
    bottom: -5px;
    z-index: -1;
  }
  .idea__body-top .idea__image-block {
    width: 340px;
    height: 870px;
  }
  .idea__body-top .idea__image-block .idea__bashaev {
    width: 340px;
    height: 870px;
  }
  .idea__body-top .idea__image-block .idea__bashaev img {
    margin-left: -334px;
  }
  .idea__body-top .idea__image-block .idea__btn {
    top: 675px;
    right: -175px;
  }
  .idea__body-top .idea__info-block-desktop {
    padding: 44px 0 0 86px;
    position: relative;
  }
  .idea__body-top .idea__info-block-desktop .idea__info-background-desktop {
    display: none;
  }
  .idea__body-top .idea__info-block-desktop .idea__info-background-tablet {
    position: absolute;
    display: block;
    top: -75px;
    left: 62px;
    z-index: -1;
  }
  .idea__body-top .idea__info-block-desktop .idea__info-body {
    gap: 24px;
    max-width: 200px;
    margin-bottom: 139px;
  }
  .idea__body-top .idea__info-block-desktop .idea__info-quelle {
    font-size: 14px;
    text-align: left;
  }
  .idea__body-middle {
    max-width: 480px;
    font-size: 18px;
  }
  .idea__body-middle .idea__wrap-text:nth-of-type(2) {
    max-width: 479px;
  }
  .idea__body-middle .idea__wrap-text:not(:last-of-type) {
    margin-bottom: 26px;
  }
  .idea__body-middle .idea__text-middle {
    position: relative;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet3 {
    display: block;
    position: absolute;
    top: 131px;
    right: 117px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet4 {
    display: block;
    position: absolute;
    left: -12px;
    bottom: -5px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet5 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop2,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop3,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop4,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop5 {
    display: none;
  }
  .idea__body-bot {
    font-size: 18px;
  }
  .idea__body-bot .idea__text-block {
    max-width: 480px;
  }
  .idea__body-bot .idea__img-block {
    width: 220px;
    height: 742px;
  }
  .idea__body-bot .idea__img-block .idea__signature-desktop {
    display: none;
  }
  .idea__body-bot .idea__rozhin {
    width: 220px;
    height: 742px;
  }
  .idea__body-bot .idea__rozhin img {
    margin-left: -260px;
    margin-top: -135px;
  }
  .idea__body-bot .idea__btn {
    top: 500px;
    right: 424px;
  }
  .idea__signature-desktop-tablet {
    display: block;
    padding-left: 290px;
  }
  /* problems----------------------------------------------------------------------------------- */
  .problems__container .problems__background-wrap {
    top: 0;
    left: -40px;
  }
  .problems__container .problems__background-img-desktop {
    display: none;
  }
  .problems__container .problems__background-img-tablet {
    display: block;
  }
  .problems__container .problems__background-color {
    height: 2322px;
  }
  .problems__title {
    margin-bottom: 28px;
  }
  .problems__title .problems__btn-arrow img {
    width: 53px;
  }
  .problems__body-top {
    margin-bottom: 200px;
  }
  .problems__body-top .problems__image-block {
    width: 400px;
    height: 658px;
  }
  .problems__body-top .problems__btn {
    top: 740px;
    right: 25px;
    z-index: 55;
  }
  .problems__body-top .problems__human-code {
    width: 400px;
    height: 658px;
  }
  .problems__body-top .problems__human-code img {
    margin-top: -135px;
    margin-left: -205px;
  }
  .problems__body-top .problems__text-block {
    max-width: 382px;
  }
  .problems__body-top .problems__text-body {
    margin-top: -75px;
    padding: 93px 30px 120px 26px;
    gap: 12px;
    background-image: url(../images/png/problems-background-tablet.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
  }
  .problems__body-top .problems__text-top {
    max-width: 240px;
    min-height: 212px;
  }
  .problems__body-middle {
    margin-bottom: 18px;
  }
  .problems__body-middle .problems__text-middle {
    max-width: 480px;
    font-size: 18px;
  }
  .problems__body-middle .problems__image-block {
    width: 480px;
    height: 660px;
  }
  .problems__body-middle .problems__signature {
    top: 50px;
    left: 315px;
  }
  .problems__body-middle .problems__btn {
    top: -15px;
    right: -60px;
  }
  .problems__body-middle .problems__my-invest-art {
    width: 480px;
    height: 660px;
  }
  .problems__body-middle .problems__my-invest-art img {
    margin-top: 0;
    margin-left: 0;
  }
  .problems__body-bot .problems__text-block {
    max-width: 470px;
    font-size: 18px;
  }
  .problems__body-bot .problems__text-block .problems__author {
    color: #ffffff;
  }
  .problems__body-bot .problems__image-block {
    width: 230px;
    height: 390px;
  }
  .problems__body-bot .problems__btn {
    top: -150px;
    right: 505px;
  }
  .problems__body-bot .problems__bashaev-small {
    width: 230px;
    height: 390px;
  }
  .problems__body-bot .problems__bashaev-small img {
    margin-top: -390px;
    margin-left: -780px;
  }
  /* exit--------------------------------------------------------------------------------------- */
  .exit__body-top {
    column-gap: 45px;
  }
  .exit__body-top .exit__title .exit__btn-arrow img {
    width: 53px;
  }
  .exit__body-top .exit__text-top {
    max-width: 340px;
  }
  .exit__body-top .exit__image-block {
    max-width: 402px;
    margin-right: -90px;
  }
  .exit__body-top .exit__image-block img {
    max-width: 402px;
  }
  .exit__body-middle {
    margin-top: -14px;
    column-gap: 25px;
    margin-bottom: 90px;
  }
  .exit__body-middle .exit__image-block {
    padding: 0;
    margin-left: -30px;
  }
  .exit__body-middle .exit__image-block img {
    max-width: 91px;
  }
  .exit__body-middle .exit__info-block {
    row-gap: 12px;
    padding: 25px;
    max-width: 530px;
  }
  .exit__body-middle .exit__info-block .exit__info-title {
    margin-bottom: 8px;
  }
  .exit__body-bot {
    column-gap: 0;
  }
  .exit__body-bot .exit__image-block {
    width: 110px;
    height: 420px;
  }
  .exit__body-bot .exit__image-block .exit__signature {
    top: 145px;
  }
  .exit__body-bot .exit__btn {
    right: 35px;
  }
  .exit__body-bot .exit__di {
    width: 110px;
    height: 420px;
  }
  .exit__body-bot .exit__di img {
    margin-top: 7px;
    margin-left: -365px;
  }
  .exit__body-bot .exit__text-block {
    padding-top: 0;
    max-width: 480px;
    font-size: 18px;
  }
  .exit__body-below .exit__text-block {
    max-width: 480px;
    font-size: 18px;
  }
  .exit__body-below .exit__image-block {
    width: 220px;
    height: 520px;
  }
  .exit__body-below .exit__image-block .exit__signature {
    top: -30px;
    margin-left: -65px;
  }
  .exit__body-below .exit__btn {
    top: 200px;
    right: 437px;
  }
  .exit__body-below .exit__human-code {
    width: 220px;
    height: 520px;
  }
  .exit__body-below .exit__human-code img {
    margin-top: -65px;
    margin-left: -300px;
  }
  .exit__decor-footer {
    margin-left: -100px;
  }
  .exit__decor-footer img {
    max-width: 845px;
  }
  /* footer------------------------------------------------------------------------------------- */
  .footer__body-top {
    display: flex;
    padding-top: 58px;
  }
  .footer__body-top .footer__image-block-hand {
    min-width: 360px;
  }
  .footer__body-top .footer__image-block-hand .footer__image-hand {
    max-width: 718px;
    top: -240px;
    left: -100px;
  }
  .footer__body-top .footer__text-block {
    max-width: 340px;
    margin-left: 34px;
  }
  .footer__body-top .footer__text-block .footer__text {
    font-size: 18px;
  }
  .footer__body-top .footer__text-block .footer__text .footer__text-background {
    max-width: 200px;
    top: -5px;
    left: -5px;
  }
  .footer__body-top .footer__text-block .footer__image-block-charisma {
    width: 340px;
    height: 310px;
  }
  .footer__body-top .footer__text-block .footer__image-block-charisma .footer__signature {
    top: 180px;
    left: -37px;
  }
  .footer__body-top .footer__text-block .footer__image-block-charisma .footer__btn {
    top: 65px;
    right: 195px;
  }
  .footer__body-top .footer__text-block .footer__image-block-charisma .footer__charisma {
    width: 340px;
    height: 310px;
  }
  .footer__body-top .footer__text-block .footer__image-block-charisma .footer__charisma img {
    margin-top: -165px;
    margin-left: 65px;
  }
  .footer__join-desktop {
    gap: 33px;
    margin-bottom: 113px;
  }
  .footer__join-desktop .footer__btn-join {
    padding: 28px;
    font-size: 45px;
    line-height: 26px;
    cursor: pointer;
  }
  .footer__join-desktop .footer__text-join {
    font-size: 24px;
  }
  .footer__partners {
    margin-bottom: 58px;
  }
  .footer__partners .footer__daub {
    column-gap: 21px;
    margin-bottom: 28px;
  }
  .footer__partners .footer__daub .footer__decor {
    max-width: 514px;
  }
  .footer__partners .footer__logos {
    display: flex;
    column-gap: 55px;
  }
  .footer__partners .footer_logo-charisma {
    max-width: 128px;
  }
  .footer__partners .footer_logo-hc {
    max-width: 103px;
  }
  .footer__partners .footer_logo-cosmoscow {
    max-width: 190px;
  }
  .footer__partners .footer_logo-invest-art {
    max-width: 115px;
  }
  .titers__authors {
    min-height: 445px;
  }
  .titers__authors .titers__text {
    max-width: 265px;
    font-size: 12px;
    padding: 158px 0 160px 0;
  }
  .titers__authors .titers__social-network {
    gap: 20px;
  }
  .titers__authors .titres__icon {
    max-width: 22px;
  }
}

/*# sourceMappingURL=tablet.css.map */
