@media (min-width: 768px) and (max-width: 1279px) {
  html,
  body {
    font-size: 16px;
  }
  /* common helper classes---------------------------------------------------------------------- */
  .container-common {
    max-width: 700px;
    margin: 0 auto;
  }
  /* BEM-blocks--------------------------------------------------------------------------------- */
  .title {
    font-size: 36px;
  }
  .btn-plus img {
    width: 80px;
  }
  .author {
    font-size: 16px;
  }
  /* header------------------------------------------------------------------------------------- */
  .header .header__container {
    /* padding-left: 34px; */
  }
  .header .navigation {
    /* .navigation__link {
        white-space: nowrap;
    }

    .navigation__list {
        flex-wrap: wrap;
        row-gap: 10px;
    } */
  }
  .header .header__navigation {
    display: none;
  }
  .header .header__btn-burger {
    display: flex;
  }
  /* main--------------------------------------------------------------------------------------- */
  .page__problems {
    margin-bottom: 160px;
  }
  /* price-tag---------------------------------------------------------------------------------- */
  .price-tag__container {
    background: linear-gradient(to right, #000000 609px, #ffffff 91px);
  }
  .price-tag__body {
    max-width: 350px;
    padding: 40px 0 27px 0;
  }
  .price-tag__text {
    max-width: 335px;
    margin-bottom: 118px;
  }
  .price-tag__text_screen_mobile {
    display: none;
  }
  .price-tag__image-price {
    max-width: 350px;
  }
  .price-tag__dash-top {
    top: -19px;
    left: -9px;
  }
  .price-tag__dash-top img {
    width: 16px;
  }
  .price-tag__dash-bot {
    left: -9px;
    bottom: -27px;
  }
  .price-tag__dash-bot img {
    width: 16px;
  }
  .price-tag__charisma {
    width: 350px;
    height: 735px;
    margin-top: -167px;
    margin-left: -177px;
  }
  .price-tag__image-charisma {
    max-width: 825px;
    transform: rotate(41.35deg);
  }
  .price-tag__signature {
    padding-left: 76px;
  }
  .price-tag__btn {
    top: 593px;
    right: -114px;
    /* img {
        width: 80px;
    } */
  }
  /* idea--------------------------------------------------------------------------------------- */
  .idea {
    margin-bottom: 107px;
  }
  .idea__title {
    margin-bottom: 28px;
  }
  .idea__title .idea__btn-arrow {
    align-self: start;
  }
  .idea__title img {
    width: 53px;
  }
  .idea__body-top .idea__text-block {
    max-width: 340px;
  }
  .idea__body-top .idea__text-top-desktop {
    margin-bottom: 9px;
  }
  .idea__body-top .idea__text-top-desktop .idea__text-top-background-desktop {
    display: none;
  }
  .idea__body-top .idea__text-top-desktop .idea__text-top-background-tablet {
    display: block;
    position: absolute;
    left: -7px;
    bottom: -5px;
    z-index: -1;
  }
  .idea__body-top .idea__bashaev {
    max-width: 340px;
    max-height: 870px;
  }
  .idea__body-top .idea__bashaev img {
    width: 900px;
    margin-left: -334px;
  }
  .idea__body-top .idea__btn {
    top: 1045px;
    right: -175px;
  }
  .idea__body-top .idea__info-block-desktop {
    padding: 44px 0 0 86px;
    position: relative;
  }
  .idea__body-top .idea__info-block-desktop .idea__info-background-desktop {
    display: none;
  }
  .idea__body-top .idea__info-block-desktop .idea__info-background-tablet {
    position: absolute;
    display: block;
    top: -75px;
    left: 62px;
    z-index: -1;
  }
  .idea__body-top .idea__info-block-desktop .idea__info-body {
    gap: 24px;
    max-width: 200px;
    margin-bottom: 139px;
  }
  .idea__body-middle {
    max-width: 480px;
    font-size: 18px;
  }
  .idea__body-middle .idea__wrap-text:nth-of-type(2) {
    max-width: 479px;
  }
  .idea__body-middle .idea__wrap-text:not(:last-of-type) {
    margin-bottom: 26px;
  }
  .idea__body-middle .idea__text-middle {
    position: relative;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet3 {
    display: block;
    position: absolute;
    top: 131px;
    right: 117px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet4 {
    display: block;
    position: absolute;
    left: -12px;
    bottom: -5px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-tablet5 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: -1;
  }
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop2,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop3,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop4,
  .idea__body-middle .idea__text-middle .idea__text-middle-background-desktop5 {
    display: none;
  }
  .idea__body-bot {
    font-size: 18px;
  }
  .idea__body-bot .idea__text-block {
    max-width: 480px;
  }
  .idea__body-bot .idea__img-block {
    max-width: 220px;
    min-height: 742px;
  }
  .idea__body-bot .idea__img-block .idea__signature-desktop {
    display: none;
  }
  .idea__body-bot .idea__rozhin {
    max-width: 220px;
    max-height: 742px;
  }
  .idea__body-bot .idea__rozhin img {
    rotate: -40deg;
    margin-left: -445px;
    margin-top: -333px;
  }
  .idea__body-bot .idea__btn {
    top: 500px;
    right: 424px;
  }
  .idea__signature-desktop-tablet {
    display: block;
    padding-left: 290px;
    font-family: "Helvetica World";
    font-size: 16px;
    font-style: italic;
  }
  /* problems----------------------------------------------------------------------------------- */
  .problems__container .problems__background-wrap {
    top: 0;
    left: -40px;
  }
  .problems__container .problems__background-img-desktop {
    display: none;
  }
  .problems__container .problems__background-img-tablet {
    display: block;
  }
  .problems__container .problems__background-color {
    height: 2322px;
  }
  .problems__title {
    margin-bottom: 28px;
  }
  .problems__title .problems__btn-arrow img {
    width: 53px;
  }
  .problems__body-top {
    margin-bottom: 200px;
  }
  .problems__body-top .problems__image-block {
    max-width: 400px;
    min-height: 658px;
  }
  .problems__body-top .problems__btn {
    top: 740px;
    right: 25px;
    z-index: 55;
  }
  .problems__body-top .problems__human-code {
    max-width: 400px;
    max-height: 658px;
  }
  .problems__body-top .problems__human-code img {
    width: 576px;
    rotate: -22.4deg;
    margin-top: -58px;
    margin-left: -82px;
  }
  .problems__body-top .problems__text-block {
    max-width: 382px;
  }
  .problems__body-top .problems__text-body {
    margin-top: -75px;
    padding: 93px 30px 120px 26px;
    gap: 12px;
    background-image: url(../src/images/png/problems-background-tablet.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
  }
  .problems__body-top .problems__text-top {
    max-width: 240px;
    min-height: 212px;
  }
  .problems__body-middle {
    margin-bottom: 18px;
  }
  .problems__body-middle .problems__text-middle {
    max-width: 480px;
    font-size: 18px;
  }
  .problems__body-middle .problems__image-block {
    max-width: 480px;
    min-height: none;
  }
  .problems__body-middle .problems__signature {
    top: 50px;
    left: 315px;
  }
  .problems__body-middle .problems__btn {
    top: -15px;
    right: -60px;
  }
  .problems__body-middle .problems__my-invest-art {
    max-height: none;
  }
  .problems__body-middle .problems__my-invest-art img {
    rotate: -26.38deg;
    margin-top: -65px;
    margin-left: -120px;
  }
  .problems__body-bot .problems__text-block {
    max-width: 470px;
    font-size: 18px;
  }
  .problems__body-bot .problems__text-block .problems__author {
    color: #ffffff;
  }
  .problems__body-bot .problems__image-block {
    max-width: 230px;
  }
  .problems__body-bot .problems__btn {
    top: -150px;
    right: 280px;
  }
  .problems__body-bot .problems__bashaev-small img {
    width: 500px;
    margin-top: -377px;
    margin-left: -767px;
  }
  /* exit--------------------------------------------------------------------------------------- */
  .exit__body-top {
    column-gap: 45px;
  }
  .exit__body-top .exit__title .exit__btn-arrow img {
    width: 53px;
  }
  .exit__body-top .exit__text-top {
    max-width: 340px;
  }
  .exit__body-top .exit__image-block {
    max-width: 402px;
    margin-right: -90px;
  }
  .exit__body-top .exit__image-block img {
    max-width: 402px;
  }
  .exit__body-middle {
    margin-top: -14px;
    column-gap: 25px;
  }
  .exit__body-middle .exit__image-block {
    padding: 0;
    margin-left: -30px;
  }
  .exit__body-middle .exit__image-block img {
    max-width: 91px;
  }
  .exit__body-middle .exit__info-block {
    row-gap: 12px;
    padding: 25px;
    max-width: 530px;
  }
  .exit__body-middle .exit__info-block .exit__info-title {
    margin-bottom: 8px;
  }
}

/*# sourceMappingURL=tablet.css.map */
