$size-container-tablet: 700px;
$size-container-mobile: 320px;

$font-size-large: 18px;
$font-size-middle: 16px;
$font-size-small: 14px;

$font-size-title-desktop: 44px;
$font-size-title-tablet: 36px;
$font-size-title-mobile: 32px;

$btn-plus-size-tablet: 80px;
$btn-plus-size-mobile: 50px;