@import "color";
@import "_variables";
@media (max-width: 767px) {

    html,
    body {
        font-size: $font-size-small;
    }

/* common helper classes---------------------------------------------------------------------- */

    .container-common {
        max-width: $size-container-mobile;
        margin: 0 auto;
        min-width: 320px;
    }

    .img-desktop-common {
        display: none;
    }

    .img-mobile-common {
        display: block;
    }

/* BEM-blocks--------------------------------------------------------------------------------- */

.dropdown-menu {
    margin: 0 15px 0 15px;
    left: -13px;
    bottom: -98px;

    .dropdown-menu__item:not(:last-of-type) {
        margin-bottom: 10px;
    }
}

.title {
    font-size: $font-size-title-mobile;
}

.text-background-black-desktop {
    background-color: transparent;
}

.break-mobile {
    display: inline;
}

.btn-plus {
    cursor: pointer;
    
    svg {
        width: $btn-plus-size-mobile;
        height: $btn-plus-size-mobile;
    }
}

.author,
.signature {
    font-size: $font-size-small;
}

.btn-more {
    position: relative;
    display: block;
    background: transparent;
    color: $base-red;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: pointer;
    order: 1;
    z-index: 1;

    p:nth-of-type(2) {
        display: none;
    }
}

/* header------------------------------------------------------------------------------------- */

    .header {
        
        .header__container {
            min-height: 70px;
            padding-right: 20px;
        }

        .navigation {
            max-width: 265px;
    
            .navigation__list {
                column-gap: 12px;
            }
            
            .navigation__item:nth-child(1) {
                max-width: 100px;
            }
    
            .navigation__item:nth-child(2) {
                max-width: 62px;
            }
    
            .navigation__item {
                font-size: 12px;
            }

            .navigation__link-ghost {
                display: none;
            }
        }
    }

/* main--------------------------------------------------------------------------------------- */

.page__problems {
    margin-bottom: 64px;
}

.page__price-tag {
    margin-bottom: 0;
}

/* price-tag---------------------------------------------------------------------------------- */

    .price-tag {

        .price-tag__background {
            background-position: -145px;
            background-position-y: -10px;
            min-height: 459px;
        }
    }

    .price-tag__container {
        position: relative;
        flex-direction: column;
        padding-top: 61%;
        padding-bottom: 10%;

        .price-tag__background {
            left: 228px;
            height: 285px;
        }
    
        .price-tag__text-block {
            max-width: 320px;
            padding: 12px 0 0 0;
        }
    
        .price-tag__title {
            max-width: 230px;
            padding-bottom: 20px;
            margin-bottom: 0;
        }
        
        .price-tag__text {
            margin-bottom: 0;
        }
    
        .price-tag__text_screen_desktop {
            display: none;
        }
    
        .price-tag__text_screen_mobile {
            display: block;
        }
    
        .price-tag__image-price {
            margin-left: -28px;
            max-width: 303px;
            display: none;
        }
    }

    .price-mobile {
        display: block;
        margin: -15px 0 97px -55px;

        .price-mobile__image-price {
            max-width: 303px;
        }
    }

/* idea--------------------------------------------------------------------------------------- */

    .idea {
        margin-bottom: 135px;
    }

    .idea__title {

        .idea__btn-arrow {
            align-self: start;
        }

        img {
            width: 30px;
        }
    }

    .idea__body-top {
        flex-direction: column;

        .idea__info-block-mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            column-gap: 16px;
            row-gap: 20px;
            position: relative;
            margin-bottom: 54px;
            min-width: 320px;

            .idea__info-background-mobile {
                position: absolute;
                top: -93px;
                left: -18px;
                z-index: -1;
            }

            h1 {
                margin-bottom: 4px;
                font-size: 24px;
            }

            .idea__info-unit {
                font-size: 12px;
                text-transform: lowercase;
            }

            .idea__info-quelle-mobile {
                margin-top: -10px;
                font-size: 12px;
                grid-column: span 2;
                max-width: 290px;
            }
        }

        .idea__text-top-mobile {
            font-style: italic;
            display: block;
            min-width: 323px;
            position: relative;

            .idea__text-top-background-mobile {
                position: absolute;
                left: -1px;
                bottom: -9px;
                z-index: -1;
            }
        }

        .idea__text-top-desktop {
            display: none;
        }


        .idea__image-block {
            width: 320px;
            height: 505px;

            .idea__bashaev {
                width: 320px;
                height: 505px;

                img {
                    margin-left: -125px;
                }
            }

            .idea__btn {
                top: 345px;
                right: 0;
            }
        }

        .idea__info-block-desktop {
            display: none;
        }
    }

    .idea__body-middle {
        max-width: 201.5px;
        font-size: $font-size-large;
        margin-bottom: 44px;
        
        .idea__wrap-text {
            display: flex;
            flex-direction: column;
            align-items: end;

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }

        .idea__text-middle-change {
            display: block;
            position: relative;

            .idea__text-middle-background-mobile-change2 {
                display: block;
                position: absolute;
                top: 44px;
                right: 45px;
                z-index: -1;
            }
    
            .idea__text-middle-background-mobile-change3 {
                display: block;
                position: absolute;
                left: 0;
                bottom: 85px;
                z-index: -1;
            }
    
            .idea__text-middle-background-mobile-change4 {
                display: block;
                position: absolute;
                left: 0;
                bottom: 23px;
                z-index: -1;
            }

            .idea__text-middle-background-mobile-change5 {
                display: block;
                position: absolute;
                left: 0;
                bottom: -2px;
                z-index: -1;
            }
        }

        .idea__btn-more,
        .idea__btn-more-change {
            margin-top: 8px;
        }
    
        .idea__text-middle {
            display: none;
            position: relative;
    
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
    
            .idea__text-middle-background-mobile2 {
                display: block;
                position: absolute;
                left: -23px;
                bottom: 128px;
                z-index: -1;
            }
    
            .idea__text-middle-background-mobile3 {
                display: block;
                position: absolute;
                bottom: 159px;
                z-index: -1;
            }
    
            .idea__text-middle-background-mobile4 {
                display: block;
                position: absolute;
                left: -9px;
                bottom: 21px;
                z-index: -1;
            }

            .idea__text-middle-background-mobile5 {
                display: block;
                position: absolute;
                left: 0;
                bottom: 1px;
                z-index: -1;
            }

            .idea__text-middle-background-desktop2,
            .idea__text-middle-background-desktop3,
            .idea__text-middle-background-desktop4,
            .idea__text-middle-background-desktop5,
            .idea__text-middle-background-tablet3,
            .idea__text-middle-background-tablet4,
            .idea__text-middle-background-tablet5 {
                display: none;
            }
        }
    }

    .idea__body-bot {
        font-size: $font-size-large;
        flex-direction: column;
    
        .idea__text-block {
            max-width: 200px;

            .idea__text-bot:not(:last-of-type) {
                margin-bottom: 20px;
            }

            .idea__text-bot:nth-of-type(2) {
                display: none;
            }

            .idea__text-bot-change {
                display: block;
            }
        }
    
        .idea__img-block {
            width: 320px;
            height: 425px;
    
            .idea__signature-desktop {
                display: none;
            }
        }
    
        .idea__rozhin {
            width: 320px;
            height: 425px;
    
            img {
                margin-left: -145px;
                margin-top: -121px;
            }
        }
    
        .idea__btn {
            top: 40px;
            right: 237px;
        }
    }

    .idea__signature-desktop-tablet {
        align-self: start;
        display: block;
    }

/* problems----------------------------------------------------------------------------------- */

    .problems__container {
    
        .problems__background-wrap {
            top: 0;
            left: -35px;
        }

        .problems__background-img-desktop {
            display: none;
        }

        .problems__background-img-mobile {
            display: block;
        }

        .problems__background-color {
            height: 2322px;
        }
    }

    .problems__title {
        margin-bottom: 0;

        .problems__btn-arrow {
            top: 7px;

            img {
                width: 30px;
            }
        }
    }
    
    .problems__body-top {
        flex-direction: column;
        margin-bottom: 20px;
    
        .problems__image-block {
            order: 1;
            width: 320px;
            height: 411px;
        }

        .problems__signature {
            position: absolute;
            top: 285px;
        }
    
        .problems__btn {
            top: 130px;
            right: 245px;
            z-index: 55;
        }
    
        .problems__human-code {
            width: 320px;
            height: 411px;
    
            img {
                margin-top: -105px;
                margin-left: 11px;
            }
        }
    
        .problems__text-block {
            max-width: 320px;
        }
    
        .problems__text-body {
            margin-top: -0;
            padding: 35px 57px 15px 7px;
            gap: 0;
    
            background-image: url(../images/png/problems-background-mobile.png);
            background-repeat:  no-repeat;
            background-position: 0 5px;
        }
    
        .problems__text-top {
            max-width: 212px;
            min-height: 177px;
        }
    }

    .problems__body-middle {
        margin-bottom: 110px;
    
        .problems__text-middle {
            max-width: 200px;
            font-size: $font-size-large;
        }
    
        .problems__image-block {
            width: 320px;
            height: 379px;
        }
    
        .problems__signature {
            top: 300px;
            left: 230px;
        }
    
        .problems__btn {
            top: -61px;
            right: 0;
        }
    
        .problems__my-invest-art {
            width: 320px;
            height: 379px;
    
            img {
                margin-top: -55px;
                margin-left: -72px;
            }
        }
    }

    .problems__body-bot {
    
        .problems__text-block {
            font-size: $font-size-large;
            max-width: 200px;
            display: flex;
            flex-direction: column;
            align-items: end;
            position: relative;

            .problems__background-color {
                display: block;
                position: absolute;
                top: 430px;
                left: -5005px;
                width: 5000px;
                background-color: $base-black;
            }

            .problems__text-bot {
                display: none;

                .problems__background-color {
                    height: 565px;
                }

                .problems__text-background-mobile2,
                .problems__text-background-mobile3 {
                    display: block;
                    position: absolute;
                    left: -28px;
                    z-index: -1;
            }
            
                .problems__text-background-mobile2 {
                    /* top: -37px; */
                    bottom: 321px;
                }

                .problems__text-background-mobile3 {
                    /* top: 707px; */
                    bottom: 34px;
                }
            }

            .problems__text-bot-change {
                display: block;

                .problems__background-color {
                    height: 89px;
                }

                .problems__text-background-mobile-change2,
                .problems__text-background-mobile-change3 {
                    display: block;
                    position: absolute;
                    left: -28px;
                    z-index: -1;
                }

                .problems__text-background-mobile-change2 {
                    /* top: -3px; */
                    bottom: 185px;
                }

                .problems__text-background-mobile-change3 {
                    /* top: 368px; */
                    bottom: 35px;
                }
            }
        }
    
        .problems__image-block {
            width: 120px;
            height: 554px;
        }
    
        .problems__btn {
            top: -150px;
            right: 170px;
        }
    
        .problems__bashaev-small {
            width: 120px;
            height: 554px;
    
            img {
                margin-top: -283px;
                margin-left: -463px;
            }
        }
    }

/* exit--------------------------------------------------------------------------------------- */

    .exit__body-top {
        position: relative;
        z-index: 1;
        flex-direction: column;
        row-gap: 20px;

        .exit__title {

            .exit__btn-arrow {

                img {
                    width: 30px;
                }
            }
        }

        .exit__text-top {
            max-width: 320px;
        }

        .exit__image-block {
            margin-left: 80px;

            img {
                max-width: 267px;
            }
        }
    }

    .exit__body-middle {
        margin-top: -175px;
        margin-left: -19px;
        margin-bottom: 64px;
        flex-direction: column;
        row-gap: 25px;
    
        .exit__image-block {
            padding: 0 0 0 37px;

            img {
                max-width: 50px;
            }
        }
    
        .exit__info-block {
            row-gap: 16px;
            padding: 20px 18px;
            max-width: 236px;
    
            .exit__info-title {
                margin-bottom: 2px;
            }

            .exit__text-desktop {
                display: none;
            }

            .exit__text-mobile {
                display: block;
            }
        }
    }

    .exit__body-bot {
        flex-direction: column;
        column-gap: 0;
        margin-bottom: 80px;
    
        .exit__image-block {
            width: 200px;
            height: 120px;
    
            .exit__signature {
                top: 15px;
                right: -55px;
            }
        }
    
        .exit__btn {
            top: 45px;
            right: 40px;
        }
    
        .exit__di {
            width: 200px;
            height: 120px;
            position: relative;
    
            img {
                max-width: 411px;
                margin-top: -190px;
                margin-left: -250px;
            }
        }
    
        .exit__text-block {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            padding-top: 0;
            max-width: 200px;
            font-size: $font-size-large;

            .exit__text-bot {
                display: none;
            }

            .exit__text-bot-change {
                display: block;
            }
        }
    }

    .exit__body-below {
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;

        .exit__text-block {
            max-width: 185px;
            font-size: $font-size-large;
        }
    
        .exit__image-block {
            width: 200px;
            height: 330px;
    
            .exit__signature {
                top: 260px;
                right: 0;
            }
        }
    
        .exit__btn {
            top: 200px;
            right: 175px;
        }
    
        .exit__human-code {
            width: 200px;
            height: 330px;
    
            img {
                margin-top: -70px;
                margin-left: -100px;
            }
        }
    }

    .exit__decor-footer {
        margin-left: -10px;
        margin-bottom: -4px;

        img {
            max-width: 379px;
        }
    }

/* footer------------------------------------------------------------------------------------- */

    .footer__body-top {
        flex-direction: column;
        padding-top: 0;

        .footer__image-block-hand {
            min-width: 320px;
            min-height: 450px;

            .footer__image-hand {
                rotate: 6deg;
                max-width: 450px;
                top: -87px;
                left: -100px;
            }
        }

        .footer__join-mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 21px;
            margin-bottom: 51px;

            .footer__btn-join {
                background: transparent;
                cursor: pointer;

                svg {
                    width: $btn-plus-size-mobile;
                    height: $btn-plus-size-mobile;

                    ellipse {
                        fill: $base-white;
                    }

                    &:active ellipse {
                        fill: none;   
                    }
                }
            }

            .footer__text-join {
                text-transform: uppercase;
                font-size: 16px;
            }
            
            .footer__btn-join:active {
                background: $base-red;   
            }
        }

        .footer__text-block {
            max-width: 233px;
            margin-left: 0;

            .footer__text {
                font-size: 16px;

                .footer__text-background {
                    max-width: 200px;
                    top: -5px;
                    left: -5px;
                }
            }

            .footer__image-block-charisma {
                width: 233px;
                height: 150px;

                .footer__signature {
                    top: 70px;
                    left: 197px;
                }

                .footer__btn {
                    top: 0;
                    right: -70px;
                }
            
                .footer__charisma {
                    width: 233px;
                    height: 150px;
            
                    img {
                        margin-top: -330px;
                        margin-left: 160px;
                    }
                }
            }
        }
    }

    .footer__join-desktop {
        display: none;
    }

    .footer__partners {
        margin-bottom: 60px;
    
        .footer__daub {
            column-gap: 12px;
            margin-bottom: 26px;

            .footer__decor {
                max-width: 160px;
            }
        }
    
        .footer__logos {
            display: flex;
            column-gap: 25px;
        }

        .footer_logo-charisma {
            max-width: 58px;
        }

        .footer_logo-hc {
            max-width: 47px;
        }

        .footer_logo-cosmoscow {
            max-width: 87px;
        }

        .footer_logo-invest-art {
            max-width: 52px;
        }
    }

    .titers__authors {
        min-height: 324px;
    
        .titers__text {
            max-width: 265px;
            font-size: 12px;
            padding: 117px 0 88px 0;
        }
    
        .titers__social-network {
            gap: 15px;
        }

        .titres__icon {
            max-width: 18px;
        }
    }
}