@import "_color";
@import "_variables";

/* reset------------------------------------------------------------------------------------ */

*,
*::before,
*::after {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    font-family: "Helvetica World";
    font-weight: 400;
    font-size: $font-size-large;
    line-height: 1.2;
    color: $base-black;
}

/* ------------------------------------------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* common helper classes---------------------------------------------------------------------- */

.container-common {
    max-width: 1160px;
    margin: 0 auto;
}

/* BEM-blocks--------------------------------------------------------------------------------- */

.title {
    font-size: $font-size-title-desktop;
    text-transform: uppercase;
}

.white-text {
    color: $base-white;
}

.btn-plus {
    background: transparent;

    img:nth-of-type(2) {
        display: none;
    }

    &:hover {
    
        img:nth-of-type(1) {
            display: none;
        }
    
        img:nth-of-type(2) {
            display: block;
        }
    }
}

.btn-arrow {
    cursor: pointer;
}

.author {
    font-size: $font-size-large;
    font-family: "Helvetica World";
    font-style: italic;
}

.btn-more {
    display: none;
}

/* header------------------------------------------------------------------------------------- */

.header {

    .header__container {
        display: flex;
        align-items: center;
        min-height: 100px;
        /* padding: 0 60px;
        box-sizing: content-box; */
        color: $base-red;
    }

    .header__navigation {
        position: relative;
        z-index: 5;
    }

    .navigation {

        .navigation__list {
            display: flex;
            column-gap: 100px;
        }

        .navigation__link {
            color: inherit;
        }
    }

    .header__btn-burger {
        display: flex;
        flex-direction: column;
        gap: 3px;
        background-color: transparent;
        height: 30px;
        padding: 8.5px 5.5px;
        cursor: pointer;
        display: none;

        span {
            display: block;
            width: 16px;
            border: solid 1.5px $base-red;
            border-radius: 3px;
        }
    }
}

/* main--------------------------------------------------------------------------------------- */

.page {
    flex: 1 1 auto;
}

.page__price-tag {
    margin-bottom: 203px;
    // внешние стили для элемента
}

.page__idea {

}

/* footer------------------------------------------------------------------------------------- */



/* price-tag---------------------------------------------------------------------------------- */

.price-tag {
    background: linear-gradient(to right, $base-black 50%, $base-white 50%);
}

.price-tag__container {
    display: flex;
    background: linear-gradient(to right, $base-black 943px, $base-white 217px);
}

.price-tag__background-mobile {
    display: none;
}

.price-tag__body {
    max-width: 460px;
    padding: 40px 0 7px 0;
    color: $base-white;
}

.price-tag__title {
    margin-bottom: 36px;
}

.price-tag__text {
    margin-bottom: 12px;
}

.price-tag__text_screen_mobile {
    display: none;
}

/* .price-tag__image-price {
    max-width: 390px;
    width: 100%;
    object-fit: cover;
} */

.price-tag__wrap-img {
    position: relative;
}

.price-tag__dash-top {
    position: absolute;
    top: -25px;
    left: 111px;
}

.price-tag__dash-bot {
    position: absolute;
    left: 111px;
    bottom: -43px;
}

.price-tag__charisma {
    width: 700px;
    height: 950px;
    margin-top: -213px;
    margin-left: -110px;

    img:nth-of-type(2) {
        display: none;
    }
}

.price-tag__signature {
    padding-left: 240px;
    color: $base-white;
    text-transform: uppercase;
    font-style: italic;
}

.price-tag__btn {
    position: absolute;
    top: 0;
    right: -100px; 
    z-index: 55;

    &:hover ~ .price-tag__charisma {
            
        img:nth-of-type(1) {
            display: none;
        }

        img:nth-of-type(2) {
            display: block;
        }
    }
}

/* idea--------------------------------------------------------------------------------------- */

.idea__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idea__title {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.idea__body-top {
    display: flex;

    .idea__text-block {
        max-width: 500px;
        position: relative;
    }

    .idea__text-top-desktop {
        margin-bottom: 19px;
        font-style: italic;
        position: relative;

        .idea__text-top-background-desktop {
            position: absolute;
            left: -8px;
            bottom: -8px;
            z-index: -1;
        }

        .idea__text-top-background-tablet{
            display: none;
        }
    }

    .idea__text-top-mobile {
        display: none;
    }

    .idea__bashaev {
        max-width: 500px;

        img {
            margin-left: -265px;
        }

        img:nth-of-type(2) {
            display: none;
        }
    }

    .idea__btn {
        position: absolute;
        top: 1190px;
        right: 0;
        z-index: 55;

        &:hover ~ .idea__bashaev {
            
            img:nth-of-type(1) {
                display: none;
            }

            img:nth-of-type(2) {
                display: block;
            }
        }
    }

    .idea__info-block-mobile {
        display: none;
    }
    
    .idea__info-block-desktop {
        padding: 96px 0 0 200px;
        position: relative;
    
        .idea__info-background-desktop {
            position: absolute;
            top: -85px;
            left: 38px;
            z-index: -1;
        }
    
        .idea__info-background-tablet {
            display: none;
        }
    
        .idea__info-body {
            display: flex;
            flex-direction: column;
            gap: 36px;
            max-width: 250px;
            margin-bottom: 334px;
        }
    
        .idea__info-unit {
            font-size: 12px;
            text-transform: lowercase;
        }
    }
    
    .idea__signature {
        font-style: italic;
    }
}

.idea__body-middle {
    max-width: 560px;
    font-size: 20px;
    font-family: Albina;
    margin-bottom: 170px;

    .idea__text-middle-change {
        display: none;
    }

    .idea__wrap-text:not(:last-of-type) {
        margin-bottom: 36px;
    }

    .idea__text-middle {
        position: relative;

        .idea__text-middle-background-desktop2 {
            position: absolute;
            top: 124px;
            right: -38px;
            z-index: -1;
        }

        .idea__text-middle-background-desktop3 {
            position: absolute;
            top: 147px;
            left: -15px;
            z-index: -1;
        }

        .idea__text-middle-background-desktop4 {
            position: absolute;
            left: -14px;
            bottom: 0;
            z-index: -1;
        }

        .idea__text-middle-background-desktop5 {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }

        .idea__text-middle-background-tablet3,
        .idea__text-middle-background-tablet4,
        .idea__text-middle-background-tablet5,
        .idea__text-middle-background-mobile2,
        .idea__text-middle-background-mobile3,
        .idea__text-middle-background-mobile4,
        .idea__text-middle-background-mobile5 {
            display: none;
        }
    }
}

.idea__body-bot {
    display: flex;
    font-size: 20px;
    font-family: Albina;

    .idea__text-block {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .idea__img-block {
        max-width: 600px;
        position: relative;

        .idea__signature-desktop {
            display: block;
            padding-left: 140px;
            font-family: "Helvetica World";
            font-size: $font-size-large;
            font-style: italic;
        }
    }

    .idea__rozhin {
        max-width: 600px;

        img {
            margin-left: -298px;
            margin-top: -349px;
        }

        img:nth-of-type(2) {
            display: none;
        }
    }

    .idea__btn {
        position: absolute;
        top: 450px;
        right: 715px;
        z-index: 55;

        &:hover ~ .idea__rozhin {
            
            img:nth-of-type(1) {
                display: none;
            }

            img:nth-of-type(2) {
                display: block;
            }
        }
    }
}