@import "color";
@import "_variables";
@media (min-width: 768px) and (max-width: 1279px) {

    html,
    body {
        font-size: $font-size-middle;
    }

/* common helper classes---------------------------------------------------------------------- */

    .container-common {
        max-width: $size-container-tablet;
        margin: 0 auto;
    }

    .img-desktop-common {
        display: none;
    }

    .img-tablet-common {
        display: block;
    }

/* BEM-blocks--------------------------------------------------------------------------------- */

.title {
    font-size: $font-size-title-tablet;
}

.break-desktop {
    display: none;
}

.break-tablet {
    display: inline;
}

.btn-plus {
    cursor: pointer;
    
    svg {
        width: $btn-plus-size-tablet;
        height: $btn-plus-size-tablet;
    }
}

.author,
.signature {
    font-size: $font-size-middle;
}

/* header------------------------------------------------------------------------------------- */

    .header {

        .header__container {
            padding-right: 34px;
        }

        .navigation {
            max-width: 557px;
            font-size: 16px;
    
            .navigation__list {
                column-gap: 50px;
            }

            .navigation__item:nth-child(1) {
                max-width: 157px;
            }
    
            .navigation__item:nth-child(2) {
                max-width: 161px;
            }
        }
    }

/* main--------------------------------------------------------------------------------------- */

    .page__price-tag {
        margin-bottom: 0;
    }

    .page__problems {
        margin-bottom: 160px;
    }

/* price-tag---------------------------------------------------------------------------------- */

    .price-tag {

        .price-tag__background {
            top: -73px;
            background-image: url(../images/png/background_price-tag.png);
            background-position: -300px;
        }
    }

    .price-tag__container {
        padding-top: 49%;
        padding-bottom: 105px;
        gap: 0;

        .price-tag__background {
            left: 608px;
        }

        .price-tag__text-block {
            max-width: 340px;
            padding: 40px 0 0 0;
        }
        
        .price-tag__text {
            max-width: 335px;
        }
    
        .price-tag__text_screen_mobile {
            display: none;
        }
    
        .price-tag__image-price {
            max-width: 307px;
            margin-top: 185px;
            margin-left: -61px;
        }

        .price-tag__price {
            padding-top: 0;
        }
    }

/* idea--------------------------------------------------------------------------------------- */

    .idea {
        margin-bottom: 107px;
    }

    .idea__title {
        margin-bottom: 28px;

        .idea__btn-arrow {
            align-self: start;
        }

        img {
            width: 53px;
        }
    }

    .idea__body-top {

        .idea__text-block {
            max-width: 340px;
        }

        .idea__text-top-desktop {
            margin-bottom: 9px;

            .idea__text-top-background-desktop {
                display: none;
            }

            .idea__text-top-background-tablet {
                display: block;
                position: absolute;
                left: -7px;
                bottom: -5px;
                z-index: -1;
            }
        }

        .idea__image-block {
            width: 340px;
            height: 870px;

            .idea__bashaev {
                width: 340px;
                height: 870px;

                img {
                    margin-left: -334px;
                }
            }

            .idea__btn {
                top: 675px;
                right: -175px;
            }
        }

        .idea__info-block-desktop {
            padding: 44px 0 0 86px;
            position: relative;
    
            .idea__info-background-desktop {
                display: none;
            }
    
            .idea__info-background-tablet {
                position: absolute;
                display: block;
                top: -75px;
                left: 62px;
                z-index: -1;
            }
    
            .idea__info-body {
                gap: 24px;
                max-width: 200px;
                margin-bottom: 139px;
            }

            .idea__info-quelle {
                font-size: 14px;
                text-align: left;
            }
        }
    }

    .idea__body-middle {
        max-width: 480px;
        font-size: $font-size-large-tablet;

        .idea__wrap-text:nth-of-type(2) {
            max-width: 479px;
        }

        .idea__wrap-text:not(:last-of-type) {
            margin-bottom: 26px;
        }
    
        .idea__text-middle {
            position: relative;
    
            .idea__text-middle-background-tablet3 {
                display: block;
                position: absolute;
                top: 131px;
                right: 117px;
                z-index: -1;
            }
    
            .idea__text-middle-background-tablet4 {
                display: block;
                position: absolute;
                left: -12px;
                bottom: -5px;
                z-index: -1;
            }
    
            .idea__text-middle-background-tablet5 {
                display: block;
                position: absolute;
                left: 0;
                bottom: 20px;
                z-index: -1;
            }

            .idea__text-middle-background-desktop2,
            .idea__text-middle-background-desktop3,
            .idea__text-middle-background-desktop4 {
                display: none;
            }
        }
    }

    .idea__body-bot {
        font-size: $font-size-large-tablet;
    
        .idea__text-block {
            max-width: 480px;
        }
    
        .idea__img-block {
            width: 220px;
            height: 742px;
    
            .idea__signature-desktop {
                display: none;
            }
        }
    
        .idea__rozhin {
            width: 220px;
            height: 742px;
    
            img {
                margin-left: -260px;
                margin-top: -135px;
            }
        }
    
        .idea__btn {
            top: 500px;
            right: 424px;
        }
    }

    .idea__signature-desktop-tablet {
        display: block;
        padding-left: 290px;
    }

/* problems----------------------------------------------------------------------------------- */

    .problems__container {
    
        .problems__background-wrap {
            top: 0;
            left: -40px;
        }

        .problems__background-img-desktop {
            display: none;
        }

        .problems__background-img-tablet {
            display: block;
        }

        .problems__background-color {
            height: 2342px;
        }
    }

    .problems__title {
        margin-bottom: 28px;
        
        .problems__btn-arrow {

            img {
                width: 53px;
            }
        }
    }
    
    .problems__body-top {
        margin-bottom: 117px;
    
        .problems__image-block {
            width: 400px;
            height: 658px;
        }
    
        .problems__btn {
            top: 795px;
            right: 25px;
            z-index: 55;
        }
    
        .problems__human-code {
            width: 400px;
            height: 658px;
    
            img {
                margin-top: -75px;
                margin-left: -205px;
            }
        }
    
        .problems__text-block {
            min-width: 338px;
        }
    
        .problems__text-body {
            margin-top: -75px;
            padding: 107px 17px 120px 51px;
            gap: 48px;
    
            background-image: url(../images/png/problems-background-tablet.png);
            background-repeat:  no-repeat;
            background-position: 0 -20px;
        }
    
        .problems__text-top {
            max-width: 265px;
            min-height: 212px;
            font-size: $font-size-middle;
        }

        .problems__text-top_height_less {
            min-height: 134px;
        }
    }

    .problems__body-middle {
        margin-bottom: 18px;
    
        .problems__text-middle {
            max-width: 480px;
            font-size: $font-size-large-tablet;
        }
    
        .problems__image-block {
            width: 480px;
            height: 660px;
        }
    
        .problems__signature {
            top: 50px;
            left: 315px;
        }
    
        .problems__btn {
            top: -15px;
            right: -60px;
        }
    
        .problems__my-invest-art {
            width: 480px;
            height: 660px;
    
            img {
                margin-top: 0;
                margin-left: 0;
            }
        }
    }

    .problems__body-bot {
    
        .problems__text-block {
            max-width: 470px;
            font-size: $font-size-large-tablet;
            padding-top: 7px;

            .problems__author {
                color: $base-white;
            }
        }
    
        .problems__image-block {
            width: 230px;
            height: 390px;
        }
    
        .problems__btn {
            top: -150px;
            right: 505px;
        }
    
        .problems__bashaev-small {
            width: 230px;
            height: 390px;
    
            img {
                margin-top: -390px;
                margin-left: -780px;
            }
        }
    }

/* exit--------------------------------------------------------------------------------------- */

    .exit__body-top {
        column-gap: 45px;

        .exit__title {

            .exit__btn-arrow {

                img {
                    width: 53px;
                }
            }
        }

        .exit__text-top {
            max-width: 340px;
        }

        .exit__image-block {
            max-width: 402px;
            margin-top: 88px;
            margin-right: -90px;

            img {
                max-width: 402px;
            }
        }
    }

    .exit__body-middle {
        margin-top: -14px;
        column-gap: 25px;
        margin-bottom: 90px;
    
        .exit__image-block {
            padding: 0;
            margin-left: -30px;

            img {
                max-width: 91px;
            }
        }
    
        .exit__info-block {
            row-gap: 12px;
            padding: 25px;
            max-width: 530px;
    
            .exit__info-title {
                margin-bottom: 8px;
            }
        }
    }

    .exit__body-bot {
        column-gap: 0;
        margin-bottom: 0;
    
        .exit__image-block {
            width: 110px;
            height: 420px;
    
            .exit__signature {
                top: 145px;
            }
        }
    
        .exit__btn {
            right: 35px;
        }
    
        .exit__di {
            width: 110px;
            height: 420px;
    
            img {
                margin-top: 7px;
                margin-left: -365px;
            }
        }
    
        .exit__text-block {
            padding-top: 0;
            max-width: 480px;
            font-size: $font-size-large-tablet;
        }
    }

    .exit__body-below {
    
        .exit__text-block {
            max-width: 480px;
            font-size: $font-size-large-tablet;
        }
    
        .exit__image-block {
            width: 220px;
            height: 520px;
    
            .exit__signature {
                top: -30px;
                margin-left: -65px;
            }
        }
    
        .exit__btn {
            top: 200px;
            right: 437px;
        }
    
        .exit__human-code {
            width: 220px;
            height: 520px;
    
            img {
                margin-top: -65px;
                margin-left: -300px;
            }
        }
    }

    .exit__decor-footer {
        margin-left: -65px;
        margin-bottom: -6px;

        img {
            max-width: 845px;
        }
    }

/* footer------------------------------------------------------------------------------------- */

    .footer__body-top {
        display: flex;
        padding-top: 58px;
    
        .footer__image-block-hand {
            min-width: 360px;
    
            .footer__image-hand {
                max-width: 718px;
                top: -240px;
                left: -100px;
            }
        }
    
        .footer__text-block {
            max-width: 320px;
            margin-left: 34px;
    
            .footer__text {
                font-size: 18px;

                .footer__text-background {
                    display: none;
                }
    
                .footer__text-background-tablet {
                    display: block;
                    max-width: 200px;
                    position: absolute;
                    top: 102px;
                    left: -5px;
                }
            }
    
            .footer__image-block-charisma {
                width: 340px;
                height: 310px;
    
                .footer__signature {
                    top: 180px;
                    left: -37px;
                }
    
                .footer__btn {
                    top: 65px;
                    right: 195px;
                }
            
                .footer__charisma {
                    width: 340px;
                    height: 310px;
            
                    img {
                        margin-top: -165px;
                        margin-left: 65px;
                    }
                }
            }
        }
    }
    
    .footer__join-desktop {
        gap: 33px;
        margin-bottom: 113px;
    
        .footer__btn-join {

            svg {
                width: $btn-plus-size-tablet;
                height: $btn-plus-size-tablet;
            }
        }

        .footer__text-join {
            font-size: 24px;
        }
    }

    .footer__partners {
        margin-bottom: 58px;
    
        .footer__daub {
            column-gap: 21px;
            margin-bottom: 28px;

            .footer__decor {
                max-width: 514px;
            }
        }
    
        .footer__logos {
            display: flex;
            column-gap: 55px;
        }

        .footer_logo-charisma {
            max-width: 128px;
        }

        .footer_logo-hc {
            max-width: 103px;
        }

        .footer_logo-cosmoscow {
            max-width: 190px;
        }

        .footer_logo-invest-art {
            max-width: 115px;
        }
    }

    .titers__authors {
        min-height: 445px;
        justify-content: space-around;
    
        .titers__text {
            max-width: 443px;
            font-size: 12px;
            padding: 154px 0 140px 0;
        }
    
        .titers__social-network {
            gap: 20px;
            padding: 14px;
        }

        .titres__icon {
            max-width: 22px;
        }
    }
}